<article>
    <% github = @application.connections.find_by(provider: :github) %>

    <aside class="aside_naked">
      <% if github %>
        <span class="icon-text">
          <%= button_to application_connection_path(@application, github), method: :delete, class: "button is-danger", title: "Disconnect GitHub", data: { turbo_confirm: "Are you sure?" } do %>
            <span class="icon">
              <i class="fa-brands fa-github"></i>
            </span>
            <span>
              Disconnect
            </span>
          <% end %>
      <% else %>
        <span class="icon-text">
          <%= link_to new_application_connection_path(@application, provider: :github, return_to: request.path), class: "button is-dark has-text-white", title: "Connect GitHub" do %>
            <span class="icon">
              <i class="fa-brands fa-github"></i>
            </span>
            <span>
              Connect to GitHub
            </span>
          <% end %>
        </span>
      <% end %>
    </aside>
</article>