<div class="content">
  <p>
    Shipyrd utilizes the GitHub API to fetch your <code>deploy.yml</code> file to run the correct Kamal commands for your application and optionally create deployments events on GitHub for you.
  </p>

  <p>
  To connect Shipyrd to your GitHub repository:
  </p>

  <p>
    <ol>
      <li>Create a new <a href="https://github.com/settings/personal-access-tokens/new" target="_blank">fine-grained personal access token</a> on GitHub with the following scopes:
        <ul>
          <li>Username: <%= @application.repository_username %></li>
          <li>Repository: <%= link_to @application.repository_name, @application.repository_url, target: "_blank" %></li>
          <li>Contents: Read-only</li>
          <li>Deployments: Read and write(If you want deployment events created)</li>
          <li>Metadata: Read-only</li>
        </ul>
      </li>
      <li>
        Enter the new token below and click 'Connect to GitHub'

        <div class="field mt-2">
          <div class="control">
            <%= form.text_field :key, class: "input" %>
          </div>
        </div>
      
        <%= form.submit "Connect to GitHub", class: "button is-primary" %>
      </li>
    </ol>
  </p>
</div>