<h1>Verify your email address</h1>

<p>Hi <%= @user.name %>,</p>

<p>Please verify your email address by clicking the link below:</p>

<p><%= link_to "Verify email address", @verification_url %></p>

<p>This link will expire in 24 hours.</p>

<p>If you didn't create a Shipyrd account, you can safely ignore this email.</p>
