<% IncomingWebhook.providers.keys.each do |provider| %>
  <% next if application.incoming_webhooks.any? { |w| w.provider == provider } %>

  <span class="icon-text mt-2">
    <%= link_to new_application_incoming_webhook_url(application, provider: provider), class: "button is-dark has-text-white", title: "Connect #{provider}" do %>
      <span class="icon">
        <%= incoming_webhook_icon(provider) %>
      </span>
      <span>
        Connect <%= provider.to_s.titleize %>
      </span>
    <% end %>
  </span>

<% end %>
