<% if incoming_webhooks.present? %>

  <% incoming_webhooks.each do |incoming_webhook| %>
    <% icon = incoming_webhook_icon(incoming_webhook.provider) %>

    <div class="box mb-2">
      <div class="columns is-vcentered">

        <div class="column is-flex is-align-items-center">
          <span class="icon mr-2">
            <%= icon %>
          </span>

          <%= incoming_webhook.display_name %>
        </div>

        <div class="column has-text-right">

          <%= button_to "Disconnect", application_incoming_webhook_url(@application, incoming_webhook), method: :delete, class: "button is-danger", title: "Disconnect #{incoming_webhook.display_name}", data: { turbo_confirm: "Are you sure?" } %>
        </div>

      </div>
    </div>
  <% end %>

<% end %>
