<h2 class="is-size-2">Setup <%= application.name %></h2>

<div class="tabs is-boxed">
  <ul>
    <li class="is-active"><%= link_to "Kamal", application_url(application) %></li>
    <li><%= link_to "Honeybadger", new_application_incoming_webhook_url(application, provider: :honeybadger) %></li>
  </ul>
</div>

<%= render "setup_kamal", application: application %>
