<div>
  <h1>Editing <%= @application.display_name %></h1>

  <%= render "form", application: @application %>
  <%= button_to "Destroy", application_path(@application), method: :delete, confirm: "Are you sure?" %>
</div>
