<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <%= link_to image_tag("logo", width: 100), root_url %>
  </div>

  <% if @applications.empty? %>
    <div class="rounded-lg border border-gray-200 bg-white my-5">
      <div class="items-center border-gray-200 border-b rounded-t-lg bg-gray-50">
        <h3 class="text-center text-base font-semibold leading-6 border-gray-200 text-gray-900 pb-5 px-4 pt-5">
          No deploy information found yet
        </h3>

      </div>

      <div class="border-gray-200 py-2 mb-2 px-6">
        <p>
          <div class="text-center">
            <%= link_to "Setup instructions", "https://github.com/nickhammond/shipyrd", class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          </div>
        </p>
      </div>
    </div>
  <% else %>
    <ul role="list" class="divide-y divide-gray-100">
      <%= render @applications %>
    </ul>
  <% end %>
