<div class="columns is-centered mt-5">
  <div class="column is-half">
    <div class="has-text-centered mb-5">
      <h1 class="title is-3 mb-3">Add an application</h1>
      <p class="subtitle is-5 has-text-grey">
        Connect your Kamal-deployed app to start tracking deployments and notifying your team.
      </p>
    </div>

    <div class="box">
      <%= render "form", application: @application %>
    </div>

    <%= link_to root_path, class: "button is-ghost is-fullwidth mt-2" do %>
      <span class="icon is-small">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
      <span>Back</span>
    <% end %>
  </div>
</div>
