<div class="content">
  <h3>How to setup Rollbar with Shipyrd</h3>

  <p>
    If you're using Rollbar for error and deploy tracking
    you can utilize a Rollbar webhook to let Shipyrd know
    about new deploys.
  </p>

  <h4>Setup instructions</h4>
  <ol>
    <li>Ensure you've configured <a class="is-underlined" target="_blank" href="https://docs.rollbar.com/docs/deploy-tracking">Rollbar deploy tracking</a> for your app.</li>
    <li>
      Within your project on Rollbar go to Project Settings &rarr; Notifications &rarr; Webhook.
    </li>
    <li>
      Within the Webhook notification settings configure the following:
      <ul>
        <li>
          For the URL, enter:
          <div class="field has-addons mt-2">
            <div class="control is-expanded">
              <input id="rollbar_webhook_url" class="input" type="text" value="<%= incoming_webhook.url %>" readonly>
            </div>
            <div class="control">
              <%= render "shared/copy_to_clipboard", target: "#rollbar_webhook_url", button_class: "" %>
            </div>
          </div>
          <%= image_tag "incoming_webhooks/rollbar/webhook-settings.png", class: "setup-screenshot" %>
        </li>
        <li>
          In the Rules section, delete any existing rules until only the
          <strong>Deploy &rarr; Post to Webhook</strong> rule remains. If it isn't there, select
          <strong>Deploy &rarr; Post to Webhook</strong> from the Template dropdown and click
          <strong>Configure Rule</strong> to add it.
          <%= image_tag "incoming_webhooks/rollbar/notification-rules.png", class: "setup-screenshot" %>
        </li>
      </ul>
    </li>
    <li>Click "Save Settings" in Rollbar.</li>
    <li>
      Click the "Create Incoming Webhook" button below.
    </li>
    <li>
      Deploy your application and you'll see updates in Shipyrd!
    </li>
  </ol>
</div>
