<div class="has-text-centered mt-5">
  <% if flash[:notice] %>
    <h1 class="is-size-4 has-text-weight-bold">You've been unsubscribed</h1>
    <p class="mt-3">You won't receive weekly deploy summary emails anymore.</p>
  <% else %>
    <h1 class="is-size-4 has-text-weight-bold">Unsubscribe from weekly deploy summaries?</h1>
    <p class="mt-3">You will no longer receive weekly deploy summary emails.</p>
    <%= form_with url: unsubscribe_path(params[:id]), method: :patch, class: "mt-4" do %>
      <%= submit_tag "Unsubscribe", class: "button is-dark" %>
    <% end %>
  <% end %>
</div>
