<h2 class="mb-4 is-size-2 has-text-weight-medium">
  Editing 
  <%= @application.display_name %> 

  <div style="" class="is-inline-block">
    <%= destination_tag(@destination) %>
  </div>
</h2>

<%= render "form", destination: @destination %>