<h2 class="mb-4 is-size-2 has-text-weight-medium">
  Editing
  <%= @application.display_name %>

  <div class="is-inline-block">
    <%= destination_tag(@destination) %>
  </div>
</h2>

<%= render "form", destination: @destination %>

<div class="field mt-2">
  <%= button_to "Delete destination", application_destination_path(@application, @destination), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@destination.name}?" }, class: "button is-danger" %>
</div>