@import url("bulma.min.css");

:root {
  --bulma-primary-h: 158deg;
  --bulma-primary-s: 69%;
  --bulma-primary-l: 56%;
  --bulma-link-h: 0deg;
  --bulma-link-s: 0%;
  --bulma-link-l: 0%;
  --bulma-info-h: 0deg;
  --bulma-info-s: 0%;
  --bulma-info-l: 40%;

  --grey: grey;
  --orange: hsl(39, 100%, 50%);
  --yellow: #ffe70f;
  --green: #42dca3;
}

a:hover {
  text-decoration: underline;
}

.grey {
  color: var(--grey);
}

progress.grey {
  --bulma-progress-value-background-color: var(--grey);
}

.orange {
  color: var(--orange);
}

progress.orange {
  --bulma-progress-value-background-color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

progress.yellow {
  --bulma-progress-value-background-color: var(--yellow)
}

.green {
  color: var(--green);
}

progress.green {
  --bulma-progress-value-background-color: var(--green);
}


@media (prefers-color-scheme: light) {

  main a,
  main a:visited {
    color: #303030;
  }
}

main a.button {
  color: white;
}

.w-full {
  width: 100%;
}

code {
  overflow-wrap: break-word;
}