@import url("simple.min.css");

:root {
  // --accent: #42dca3;
  --grey: grey;
  --orange: orange;
  --yellow: yellow;
  --green: green;
}

.aside_naked {
  border: 0;
  background: none;
  text-align: right;
  padding-right: 0;
}

$colors: grey,orange,yellow,green;

@each $color in $colors {
  .#{"" + $color} {
    color: var(--#{"" + $color});
  }

  progress.#{"" + $color} {
    --accent: var(--#{"" + $color});
  }
}

main a, main a:visited {
  color: #303030;
}

main a.button {
  color: white;
}