<!DOCTYPE html>
<html>
  <head>
    <title>Shipyrd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="container is-max-desktop pb-6 px-4">
    <div class="has-text-centered mt-6">
      <%= image_tag "logo.png", width: 125 %>
    </div>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
